<%- include('includes/head') %>
<%- include('includes/nav') %>

<section class="logado">
    <h1>Você entrou no sistema</h1>
    <p>Você pode cadastrar e realizar tarefas</p>
    <p>Seu Login: <%= user.email %></p>
</section>

<%- include('includes/footer') %>