*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font-principal: 'Roboto', sans-serif;
    --primary: #007BFF;
    --secondary: #343A40;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.erro404 section{
    height: 600px;
}

.erro404 h1{
    text-align: center;
    font-size: 14em;
    font-family: var(--font-principal);
    color: black;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 50px 0px;
    font-weight: bolder;
}

.erro404 p {
    font-family: var(--font-principal);
    font-size: 1.8em;
    color: black;
}

section{
    margin-top: 40px;
    height: 550px;
    width: 550px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.4);
}

h1{
    color: var(--primary);
    text-align: center;
    font-size: 2.5em;
    margin-top: 40px;
    margin-bottom: 10px;
}

p{
    text-align: center;
    font-size: 1.3em;
    margin: 20px 0px;
    font-family: var(--font-principal);
    color: var(--secondary);
}

label{
    display: block;
    font-size: 1.5em;
    font-family: var(--font-principal);
    color: var(--secondary);
    margin: 7px 7px;
}

input, select{
    display: block;
    height: 36px;
    width: 520px;
    margin: 15px 7px;
    padding-left: 8px;
    font-size: 1.3em;
    font-family: var(--font-principal);
}

input:hover{
    border: 1px solid  #0056b3;
}

input[type="submit"]{
    margin: 20px 7px;
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    border-radius: 5%;
    height: 38px;
    border: 1px solid var(--primary);
    border-radius: 5%;
    width: 530px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.login a{
    text-decoration: none;
    color: var(--primary);
    cursor: pointer;
}

.login a:hover, nav a:hover{
    text-decoration: underline;
    color: #0056b3;
}

nav{
    width: 100%;
    font-size: 1.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-principal);
    margin-top: 15px;
}

nav li, .mensagem-erro li, .mensagem-sucesso li{
    list-style: none;
}

nav a{
    color: var(--primary);
    text-decoration: none;
    margin: 10px 25px;
}

.mensagem-erro{
    color: red;
    font-family: var(--font-principal);
    font-size: 1.3em;
    text-align: center;
    margin: 20px 0;
}

.mensagem-sucesso{
    color: rgb(16, 129, 16);
    font-family: var(--font-principal);
    font-size: 1.3em;
    text-align: center;
    margin: 22px 0px;
}

.tarefa{
    height: 620px;
}

.home{
    width: 100%;
    height: 100%;
    box-shadow: none;
}

table{
    display: flex;
    justify-content: center;
    align-items: center;
    border-spacing: 15px;
    margin-top: 30px;
}

tr{
    margin: 10px 2px;
}

td{
    padding: 10px;
    text-align: center;
    font-family: var(--font-principal);
    color: var(--secondary);
    font-size: 1.5em;
}

.editar a{
    margin-top: 30px;
    font-size: 1.2em;
    color: rgb(56, 154, 56);
    font-family: var(--font-principal);
    text-decoration: none;
}

.delete a{
    margin-top: 30px;
    font-size: 1.2em;
    color: rgb(226, 38, 38);
    font-family: var(--font-principal);
    text-decoration: none;
}

.editar a:hover{
    color: rgb(0, 132, 0);
    text-decoration: underline;
}

.delete a:hover{
    color: rgb(212, 0, 0);
    transition-duration: 5s;
    text-decoration: underline;
}

.dadosTarefa a{
    color: var(--primary);
    text-decoration: none;
    font-family: var(--font-principal);
    font-size: 1em;
}

.dadosTarefa a:hover{
    color: #0056b3;
    text-decoration: underline;
    transition-duration: 5s;
}

.filters{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}